<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="clientid" value="32d2118e-7764-4fbd-8fce-98fefaf3d13a"/>
      <add key="clientsecret" value="_EzAP2mBGENgYcZ_pQ8iMhB4irSeyCH2OkxbDUgoBhM"/>
      <add key="environment" value="mypurecloud.ie"/>
      <add key="startdate" value="2019-11-29"/>
      <add key="target-sql" value="Server='ALEXISMNB3;Database=PURECLOUD-FRANCE;User Id=sa;Password=Genesys@1'"/>
      <add key="target-csv" value="c:\temp\export_pc.csv"/>
      <add key="participant-attrs" value="true"/>
      <add key="attr" value="xxx"/>
    </appSettings>
</configuration>
